<div class="overlay-form">
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
</div>
<div id="like">
 <%= render 'articles/like' %>
</div>
<h2>Comments</h2>
<%= render @article.comments %>
 
<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<div id="count">
  <%= @article.get_likes.size %>
</div>
users like this
<br>
<%= link_to 'Back', articles_path %>
<%= link_to 'Edit', edit_article_path(@article) %>
